@use "../../../styles/variables/index" as *;
@use "../../../styles/abstracts/index" as *;

.button {
  font-family: inherit;
  padding-left: $spacing-xxs;
  padding-right: $spacing-xxs;
  padding-top: $spacing-xxxxxs;
  padding-bottom: $spacing-xxxxxs;
  background-color: $color-primary-2;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    @include hover-dark;
  }
}
