@use "../../styles/abstracts/index" as *;
@use "../../styles/variables/index" as *;

.cart {
  width: 80rem;
  height: 100%;
  padding-top: 4rem;
  align-self: center;
  justify-self: center;
  padding-bottom: 2rem;

  @media screen and (max-width: 837px) {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media screen and (max-width: 680px) {
    width: 42rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media screen and (max-width: 436px) {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.list {
  display: grid;
  gap: 2rem;
}

.item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media screen and (max-width: 680px) {
    display: grid;
    grid-template-rows: min-content 20rem min-content;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    .imageContainer {
      grid-row: 1;
    }

    .description {
      grid-row: 2;
      text-align: justify;
    }

    .btn {
      grid-row: 3;
    }
  }
}

.detailsContainer {
  width: 28rem;

  @media screen and (max-width: 378px) {
    width: 24rem;
  }

  @media screen and (max-width: 320px) {
    width: 100%;
  }
}

.details {
  display: flex;
  justify-content: space-between;
  .discountPrice {
    color: red;
  }
}

.description {
  height: 80%;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 680px) {
    font-size: 1.4rem;
  }

  .title {
    font-size: 1.8rem;
    @media screen and (max-width: 680px) {
      font-size: 1.6rem;
    }
  }
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;

  .btnCount {
    display: flex;
    justify-content: space-between;
  }
}

.removeCart {
  display: flex;
  justify-content: flex-end;
}

.discount {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  @media screen and (max-width: 680px) {
    font-size: 1.4rem;
  }

  p {
    width: 100%;
    padding-bottom: 1rem;
  }
  div {
    width: 100%;
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 680px) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    input {
      padding: 0.25rem 1rem;
      &:focus {
        outline: none;
      }
    }

    label,
    input {
      margin-right: 2rem;
    }

    input {
      @media screen and (max-width: 680px) {
        margin-right: 0;
      }
    }
  }
}

.link {
  @include link-button;
}

.emptyCart {
  height: 63vh;
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  align-items: center;
  .link {
    margin-top: 4rem;
    @include link-button;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
