@use "../../styles/variables/index" as *;

.checkout {
  display: grid;
  height: auto;
  width: 100%;
  padding-bottom: 4rem;

  grid-template-rows: repeat(3, min-content);
  padding-top: 3rem;
  align-items: center;
  justify-items: center;

  .message {
    grid-row: 1;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    font-size: 1.4rem;
    @media screen and (max-width: 837px) {
      padding-top: 3rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @media screen and (max-width: 470px) {
      flex-wrap: wrap;
      justify-self: center;
      text-align: center;
    }
  }

  @media screen and (max-width: 837px) {
    padding: 0;
    margin: 0;
  }
  ///////////////// - to refactor, make teusible

  .cart {
    width: 70rem;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
    align-self: center;
    justify-self: center;

    @media screen and (max-width: 837px) {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      align-items: center;
      justify-items: center;
    }

    @media screen and (max-width: 746px) {
      width: 42rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @media screen and (max-width: 436px) {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .list {
    display: grid;
    gap: 2rem;
    font-size: 1.4rem;
  }

  .item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 2rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media screen and (max-width: 837px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @media screen and (max-width: 746px) {
      display: grid;
      grid-template-rows: min-content auto;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      padding-left: 1rem;
      padding-right: 1rem;

      .imageContainer {
        grid-row: 1;
      }

      .description {
        padding-top: 2rem;
        padding-bottom: 0rem;
        gap: 1rem;
        align-items: center;
        grid-row: 2;
      }
    }
  }

  .detailsContainer {
    width: 38rem;
    padding: 1rem;
    @media screen and (max-width: 837px) {
      width: 100%;
      padding-left: 6rem;
    }
    @media screen and (max-width: 746px) {
      padding-left: 1rem;
    }
    @media screen and (max-width: 378px) {
      width: 22rem;
    }

    @media screen and (max-width: 320px) {
      width: 100%;
    }
  }

  .details {
    display: flex;
    justify-content: space-between;
    .discountPrice {
      color: $color-red;
    }
    &.deposit {
      background-color: $color-secondary-2;
      margin-left: -1rem;
      margin-right: -1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .depositPrice {
      align-self: center;
      padding-left: 4rem;
      @media screen and (max-width: 838px) {
        padding-left: 6rem;
      }
      @media screen and (max-width: 393px) {
        padding-left: 3rem;
      }
    }
  }

  .description {
    height: 100%;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 746px) {
      font-size: 1.4rem;
    }

    .title {
      font-size: 1.6rem;
      font-family: $font-family-title;
      letter-spacing: 1px;
      @media screen and (max-width: 837px) {
        padding-left: 6rem;
      }
      @media screen and (max-width: 746px) {
        padding-left: 0rem;
        font-size: 1.6rem;
      }
    }
  }

  /////////////////

  .btn {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary-2;
    border-radius: 3px;

    .discount {
      color: $color-red;
    }

    @media screen and (max-width: 746px) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 426px) {
      padding: 1rem;
      font-size: 1.4rem;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }
}
