@use "../../styles/abstracts/index" as *;
@use "../../styles/variables/index" as *;

.content {
  display: grid;
  align-self: center;
  width: 100%;
  // height: 60vh;
  justify-content: center;
}

.form {
  display: grid;
  border: 1px solid black;
  padding: 2rem 5rem 3rem 5rem;
  border-radius: 3px;
  align-self: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 70rem;
  @media (max-width: 780px) {
    padding: 1rem 5rem 2rem 5rem;
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  @media (max-width: 520px) {
    padding: 1rem 2rem 2rem 2rem;
    width: auto;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  p {
    color: coral;
    font-size: 1.2rem;
    font-weight: 600;
    height: 1.2rem;
  }

  label {
    font-family: inherit;
    font-size: 1.4rem;
  }
}

.heading {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  font-weight: 700;
}

.input {
  display: grid;
  font-family: "Courier New", Courier, monospace;
  input,
  textarea {
    padding: 0.5rem 1rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgb(171, 168, 168);
    }
  }
}

.checkbox {
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  a {
    color: $color-primary-3;
  }
  input[type="checkbox"] {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    &:checked {
      accent-color: rgb(171, 168, 168);
    }
  }
}

.btn {
  margin-top: 1rem;
  @include link-button;
}
