@use "../../styles/abstracts/index" as *;
@use "../../styles/variables/index" as *;

.content {
  display: grid;
  align-self: center;
  width: 50%;
}

.form {
  display: grid;

  border: 1px solid black;
  padding: 2rem 10rem 3rem 10rem;
  border-radius: 3px;
  align-self: center;
  margin-top: 3rem;

  p {
    color: coral;
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.heading {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  font-weight: 700;
}

.input {
  display: grid;
  font-family: "Courier New", Courier, monospace;
  input {
    padding: 0.5rem 1rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgb(171, 168, 168);
    }
  }
}

.checkbox {
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  a {
    color: $color-primary-3;
  }
  input[type="checkbox"] {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    &:checked {
      accent-color: rgb(171, 168, 168);
    }
  }
}

.btn {
  @include link-button;
}
