@use "../../../../styles/variables/index" as *;
@use "../../../../styles/abstracts/index" as *;

.active {
  position: absolute;
  z-index: 3;
  // top: 32rem;
  transition: all 800ms ease-out;
}

.hidden {
  overflow: hidden;
  height: 0;
  transition: height 800ms ease-in;
}

.table {
  background-color: rgba($color-primary-2, 1);

  display: flex;
  width: 36rem;
  align-self: flex-end;

  @media screen and (max-width: 976px) {
    width: 30rem;
  }
}

.description {
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.link {
  text-decoration: none;
  color: $color-primary-3;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border: 1px solid black;
  border-radius: 2px;
  width: fit-content;
  margin-bottom: 1rem;
  &:hover {
    @include hover-dark;
  }
}
