.home {
  width: 75%;
  height: 100%;
  display: grid;
  justify-self: flex-start;
  align-self: center;
  grid-template-columns: 1fr 1fr;

  margin-top: 8rem;

  .box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
  }

  @media screen and (max-width: 976px) {
    width: 100%;
    height: auto;
    margin-top: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 6rem;
  }
}
