.home {
  width: 75%;
  height: auto;

  display: grid;
  align-self: anchor-center;
  grid-template-columns: 1fr 1fr;

  .box {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (max-width: 976px) {
    padding-top: 3rem;
    padding-bottom: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
  }
}
