@use "../../../styles/abstracts/index" as *;

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;

  &.fullscreen {
    @include fullscreenOverlay;
    .fullscr {
      margin-top: -20rem;

      @media screen and (max-width: 976px) {
        margin-top: 0rem;
      }
    }
  }
}
