@use "../../../styles/abstracts/index" as *;

.item {
  // margin-top: 15vh;
  // height: 75vh;
  width: 70%;
  height: 100%;
  align-self: center;
  // display: grid;
  // justify-self: anchor-center;
  // grid-template-columns: 40% 60%;
  // padding-top: 5rem;

  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  align-items: flex-start;
  padding-top: 10rem;

  @media screen and (max-width: 1035px) {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    align-items: center;

    .image {
      width: 100%;
      display: grid;
      grid-template-rows: min-content, min-content;
      align-items: center;
      justify-content: center;
      // padding: 0;
      border: 1px solid black;
    }
  }

  .description {
    -webkit-column-count: 2;
    -webkit-column-gap: 12rem;
    -moz-column-count: 2;
    -moz-column-gap: 12rem;
    padding-top: 0rem;
    padding-left: 8rem;
    padding-right: 5rem;

    @media screen and (max-width: 1240px) {
      -webkit-column-count: 1;
      // -webkit-column-gap: 12rem;
      -moz-column-count: 1;
      // -moz-column-gap: 12rem;
    }

    @media screen and (max-width: 1035px) {
      padding: 0;
      border: 1px solid black;
    }
  }
}
