@use "../../../styles/variables/index" as *;

.container {
  display: flex;
  align-items: center;
  margin-top: 90vh;
  height: 10vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: center;
  a {
    padding-top: $spacing-xxxxs;
    padding-bottom: $spacing-xxxxs;
    padding-left: $spacing-xxs;
    padding-right: $spacing-xxs;
    color: $color-primary-3;
    text-decoration: none;
  }
  a:hover {
    background-color: $color-primary-3;
    color: $color-primary-1;
    transition: all 0.3s;
    border-radius: 3px;
    cursor: pointer;
  }
}
