@use "../../../styles/variables/index" as *;

.footer {
  justify-self: flex-end;

  display: flex;
  align-items: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  a {
    padding-top: $spacing-xxxxs;
    padding-bottom: $spacing-xxxxs;
    padding-left: $spacing-xxs;
    padding-right: $spacing-xxs;
    color: $color-primary-3;
    text-decoration: none;
  }
  a:hover {
    background-color: $color-primary-3;
    color: $color-primary-1;
    transition: all 0.3s;
    border-radius: 3px;
    cursor: pointer;
  }

  @media screen and (max-width: 976px) {
    padding-top: 10rem;
  }
}
