@use "../../../styles/variables/index" as *;
@use "../../../styles/abstracts/index" as *;

.footer {
  display: flex;
  margin: auto;
  align-items: center;
  justify-self: center;
  width: 60%;
  height: min-content;
  justify-content: space-between;
  font-size: 1.4rem;
  padding-bottom: 1rem;

  a {
    padding-top: $spacing-xxxxs;
    padding-bottom: $spacing-xxxxs;
    padding-left: $spacing-xxs;
    padding-right: $spacing-xxs;
    color: $color-primary-3;
    text-decoration: none;
  }
  a:hover {
    background-color: $color-primary-3;
    color: $color-primary-1;
    transition: all 0.3s;
    border-radius: 3px;
    cursor: pointer;
  }

  @media screen and (max-width: 976px) {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.animated {
  animation-name: apperance;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
