@use "../../../styles/variables/index" as *;
@use "../../../styles/abstracts/index" as *;
@use "../../../styles/base/index" as *;

.product {
  @include product-list;
  height: 32rem;
  @media screen and (max-width: 976px) {
  }
}

.active {
  @include product-list;
  height: 50rem;
  background-color: rgba($color-primary-2, 1);
  @media screen and (max-width: 976px) {
  }
}

.dropDown {
  display: flex;
  width: 36rem;
  align-self: flex-end;

  @media screen and (max-width: 976px) {
  }
}

.cartAnimation {
  position: absolute;
  width: 36rem;
  height: 32rem;
  //top: 20rem;
  z-index: 0;

  &.animated {
    animation-name: moveInLeftTop;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
  }
}
