@use "../../../styles/abstracts/index" as *;
@use "../../../styles/variables/index" as *;

.notification {
  display: flex;
  &.fullscreen {
    @include fullscreenOverlay;
    // color: whitesmoke;
    .modal {
      width: 40rem;
      border-radius: 3px;
      padding: 1rem 4rem 1rem 4rem;
      display: flex;
      gap: 3rem;
      background-color: rgba(black, 0.8);
      margin-top: -20rem;
      @media screen and (max-width: 976px) {
        margin-top: 0rem;
      }
      &.success {
        color: $color-green;
        border: 2px solid $color-green;
      }
      &.error {
        color: $color-red;
        border: 2px solid $color-red;
      }
      @media screen and (max-width: 460px) {
        width: 30rem;
        height: auto;
        .message {
          font-size: 1.4rem;
          flex-wrap: wrap;
        }
      }
    }
  }
  &.line {
    .modal {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.4rem;
      padding: 1rem 2rem 1rem 2rem;
      &.success {
        color: $color-green;
        border: 2px solid $color-green;
      }
      &.error {
        color: $color-red;
        border: 2px solid $color-red;
      }
    }
  }
}
