@use "../../../styles/variables/index" as *;

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  padding-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.towns {
  display: flex;
  flex-direction: column;
}

.town {
  display: flex;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.districts {
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding-bottom: 2rem;
}

.district {
  font-weight: 600;
  display: flex;
  align-self: start;
  padding-bottom: 1rem;
}

.places {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    font-size: 1.4rem;
  }
}

.place {
  justify-self: start;
}
