@use "../variables/index" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // This makes 1rem = 10px
}

body {
  margin: 0;
  font-family: $font-family-main;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  position: relative;
  position: relative;
  background-image: linear-gradient(
    90deg,
    white 0%,
    white 12%,
    pink 12%,
    pink 23%,
    white 23%,
    white 25%,
    pink 25%,
    pink 36%,
    white 36%,
    white 38%,
    pink 38%,
    pink 49%,
    white 49%,
    white 51%,
    pink 51%,
    pink 62%,
    white 62%,
    white 64%,
    pink 62%,
    pink 75%,
    white 75%,
    white 77%,
    pink 77%,
    pink 88%,
    white 88%,
    white 100%
  );
}
