@use "../variables/index" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // This makes 1rem = 10px
}

body {
  margin: 0;
  font-family: $font-family-main;
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  position: relative;
  background-image: linear-gradient(
    90deg,
    $color-primary-1 0%,
    $color-primary-1 12%,
    $color-primary-2 12%,
    $color-primary-2 23%,
    $color-primary-1 23%,
    $color-primary-1 25%,
    $color-primary-2 25%,
    $color-primary-2 36%,
    $color-primary-1 36%,
    $color-primary-1 38%,
    $color-primary-2 38%,
    $color-primary-2 49%,
    $color-primary-1 49%,
    $color-primary-1 51%,
    $color-primary-2 51%,
    $color-primary-2 62%,
    $color-primary-1 62%,
    $color-primary-1 64%,
    $color-primary-2 62%,
    $color-primary-2 75%,
    $color-primary-1 75%,
    $color-primary-1 77%,
    $color-primary-2 77%,
    $color-primary-2 88%,
    $color-primary-1 88%,
    $color-primary-1 100%
  );

  @media screen and (max-width: 976px) {
    background-image: linear-gradient(
      90deg,
      $color-primary-1 0%,
      $color-primary-1 6%,
      $color-primary-2 6%,
      $color-primary-2 23%,
      $color-primary-1 23%,
      $color-primary-1 25%,
      $color-primary-2 25%,
      $color-primary-2 36%,
      $color-primary-1 36%,
      $color-primary-1 38%,
      $color-primary-2 38%,
      $color-primary-2 49%,
      $color-primary-1 49%,
      $color-primary-1 51%,
      $color-primary-2 51%,
      $color-primary-2 62%,
      $color-primary-1 62%,
      $color-primary-1 64%,
      $color-primary-2 62%,
      $color-primary-2 75%,
      $color-primary-1 75%,
      $color-primary-1 77%,
      $color-primary-2 77%,
      $color-primary-2 94%,
      $color-primary-1 94%,
      $color-primary-1 100%
    );
  }
}
