$color-primary-1: #ffffff;
//$color-primary-2: #ffe5e4; - pink
$color-primary-2: rgb(226, 224, 224);
$color-primary-3: #000000;

$color-secondary-1: rgb(153, 152, 152);
$color-secondary-2: rgb(246, 243, 243);

$color-red: coral;
$color-green: yellowgreen;
