@font-face {
  font-family: "courier";
  src: url("assets/font/Courier-BOLD.ttf") format("turetype");
  font-weight: 700;
  font-style: normal;
}

$font-family-main: "courier", monospace;

$font-size-l: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;

$font-weight-regular: 200;
$font-weight-bold: 700;
