@use "../../../styles/variables/index" as *;

.header {
  justify-self: flex-start;

  display: grid;
  align-items: center;
  height: 10rem;
  width: 100%;
  grid-template-columns: 1fr (min-content) 1fr;

  .icon {
    margin-top: 0.8rem;
  }

  .counter {
    position: relative;
    .quantity {
      position: absolute;
      top: -1.6rem;
      left: 2.9rem;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      background-color: $color-primary-3;
      .number {
        top: -0.4rem;
        left: 0.35rem;
        position: absolute;
        color: $color-primary-1;
      }
    }
  }
}
