@use "../../../styles/variables/index" as *;

.header {
  justify-content: flex-start;

  display: grid;
  align-items: center;
  height: auto;
  width: 100%;
  grid-template-columns: 1fr (min-content) 1fr;
}
