@use "../../../styles/variables/index" as *;

.envelope,
.cart {
  display: flex;
  align-items: center;
  color: $color-primary-3;
  cursor: pointer;
  &:hover {
    //transform: translateY(-10%);
    transform: scale(1.25);
    transition: all 0.3s ease-in-out;
  }
}
.envelope {
  justify-self: flex-end;
  margin-right: 2rem;
}
.cart {
  justify-content: flex-start;
  margin-left: 2rem;
}

.medium {
  width: 3.2rem;
  height: 3.2rem;
}

.large {
  width: 4.2rem;
  height: 4.2rem;
}
