@use "../../../styles/variables/index" as *;

.envelope,
.bag {
  display: flex;
  align-items: center;
  color: $color-primary-3;
  cursor: pointer;
  &:hover {
    //transform: translateY(-10%);
    transform: scale(1.25);
    transition: all 0.3s ease-in-out;
  }
}
.envelope {
  justify-self: flex-end;
}
.bag {
  justify-content: flex-start;
}

.medium {
  width: 4rem;
  height: 4rem;
}
