@use "../../../styles/variables/index" as *;

.envelope,
.cart,
.event,
.shop {
  display: flex;
  align-items: center;
  color: $color-primary-3;
  cursor: pointer;
  &:hover {
    transform: scale(1.25);
    transition: all 0.3s ease-in-out;
  }
}
.envelope {
  justify-self: flex-end;
  margin-right: 2rem;
  &.medium {
    width: 4.3rem;
    height: 4.3rem;
  }
}

.cart {
  justify-content: flex-start;
  margin-left: 2rem;
  margin-top: 0.2rem;
  &.medium {
    width: 3.9rem;
    height: 3.9rem;
  }
}

.instagram {
  &.medium {
    width: 2rem;
    height: 2rem;
  }
}

.phone {
  &.medium {
    width: 2.6rem;
    height: 2.6rem;
  }
}

.email {
  &.medium {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.success {
  &.medium {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.error {
  &.medium {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.plus,
.minus {
  padding: 0;
  &.medium {
    width: 2.2rem;
    height: 2.2rem;
  }
  transition: all 0.2s;
  &:hover {
    color: $color-primary-1;
  }
}

.copy,
.copied {
  &.medium {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.event {
  cursor: pointer;
  &.medium {
    width: 2.7rem;
    height: 2.7rem;
  }
}

.shop {
  cursor: pointer;
  &.medium {
    width: 3rem;
    height: 3rem;
  }
}

.close {
  cursor: pointer;
  &.medium {
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
  }
  &:hover {
    background-color: black;
    color: white;
    transition: all 0.3s;
  }
}
