@keyframes moveInLeftTop {
  0% {
    //opacity: 0;
    width: 36rem;
    height: 32rem;
    transform: translate(0);
    top: 20rem;
    left: 30rem;
  } /*start*/

  100% {
    //opacity: 1;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    //transform: translateY(-16rem) translateX(52rem);
    top: 2.2rem;
    left: 80rem;
  } /* finish */
}

@keyframes moveInBottom {
  /*using usualy 2 properties - opacity and transform*/
  0% {
    opacity: 0;
    transform: translateY(
      5rem
    ); /*animation in Y direction, positive moving down*/
  } /*start*/

  100% {
    opacity: 1;
    transform: translate(0);
  } /* finish */
}

.visible {
  opacity: 1;
  transition: all 0.3s;
}

.hidden {
  opacity: 0;
  transition: all 0.3s;
}
