@use "../variables/index" as *;

@mixin box-size-m {
  display: flex;
  width: $width-size-m;
  height: $height-size-m;
}

@mixin position-absolute-4 {
  position: absolute;
  z-index: 4;
}

@mixin hover-dark {
  background-color: $color-primary-3;
  color: $color-primary-1;
  transition: all 0.3s;
}

@mixin product-list {
  display: flex;
  cursor: pointer;
  transition: height 800ms ease;
  overflow: hidden;
  &:nth-child(4) {
    align-items: flex-end;
  }
}
