@use "../../../styles/abstracts/index" as *;

.item {
  width: 30rem;
  height: 30rem;

  @media screen and (max-width: 1035px) {
    width: 45rem;
    height: 40rem;
  }

  @media screen and (max-width: 976px) {
    width: 36rem;
    height: 32rem;
    border: 1px solid black;
  }

  @media screen and (max-width: 480px) {
    width: 30rem;
    height: 26rem;
  }
}

.group {
  @include box-size-m;
  border-radius: 3px;
  position: absolute;
  z-index: 1;

  @media screen and (max-width: 976px) {
  }
}
