@use "../../../styles/variables/index" as *;
@use "../../../styles/abstracts/index" as *;

.product {
  @include product-group;
  height: 32rem;
  @media screen and (max-width: 976px) {
    height: 28rem;
  }
}

.active {
  @include product-group;
  height: 50rem;
  @media screen and (max-width: 976px) {
    height: 40rem;
  }
}

.description {
  display: flex;
  width: 36rem;
  align-self: flex-end;

  @media screen and (max-width: 976px) {
    width: 30rem;
  }
}
