@use "../../../styles/variables/index" as *;
@use "../../../styles/abstracts/index" as *;

.product {
  @include product-group;
  height: 32rem;
  @media screen and (max-width: 976px) {
  }
}

.active {
  @include product-group;
  height: 50rem;
  background-color: rgba($color-primary-2, 1);
  @media screen and (max-width: 976px) {
  }
}

.dropDown {
  display: flex;
  width: 36rem;
  align-self: flex-end;

  @media screen and (max-width: 976px) {
  }
}
