@use "../../../../styles/variables/index" as *;
@use "../../../../styles/abstracts/index" as *;

.table {
  background-color: $color-primary-1;

  display: flex;
  width: $width-size-m;
  align-self: flex-end;
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 5rem;
  border-radius: 3px;
  font-size: $font-size-s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  // $width-size-m: 38rem;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: $color-primary-1;
  }

  &.visible {
    opacity: 1;
    transition: all 0.5s;
  }

  &.hidden {
    opacity: 0;
  }

  .purchasing,
  .quantity,
  .price,
  .details {
    display: flex;
    color: $color-primary-3;
  }
}

.purchasing {
  justify-content: space-between;
}

.quantity {
  .details {
    justify-content: space-between;
    align-items: center;
    width: 10rem;
  }
}

.quantity,
.price {
  flex-direction: column;
}

.quantity {
  gap: 1rem;
}

.details {
  flex-direction: row;
  gap: 1rem;
  font-size: 2rem;
}

.price {
  display: flex;
  justify-content: flex-end;
  .details {
    align-self: flex-end;
    font-size: 1.8rem;
  }
}

.description {
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.link {
  text-decoration: none;
  color: $color-primary-3;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border: 1px solid black;
  border-radius: 2px;
  width: fit-content;
  margin-bottom: 1rem;
  &:hover {
    @include hover-dark;
  }
}

.iconBox {
  border: 1px solid black;
  border-radius: 2px;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  &:hover {
    background-color: $color-primary-3;
  }
}

.btn {
  align-self: flex-end;
  button {
    height: 3.4rem;
  }
}
