@use "../../../../styles/variables/index" as *;
@use "../../../../styles/abstracts/index" as *;

.table {
  background-color: rgba($color-primary-2, 1);

  display: flex;
  width: 36rem;
  align-self: flex-end;
  border: 1px solid black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 5rem;
  border-radius: 3px;
  font-size: $font-size-s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  .purchasing,
  .quantity,
  .price,
  .details {
    display: flex;
    color: $color-primary-3;
  }
}

.purchasing {
  justify-content: space-between;
}

.quantity,
.price {
  flex-direction: column;
}

.details {
  flex-direction: row;
  gap: 2rem;
}

.description {
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.link {
  text-decoration: none;
  color: $color-primary-3;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border: 1px solid black;
  border-radius: 2px;
  width: fit-content;
  margin-bottom: 1rem;
  &:hover {
    @include hover-dark;
  }
}
